li {
    list-style-type: none;
    width: 78px;
    height: 78px;
    background-image: url(./star0.png);
    background-repeat: no-repeat;
    display: inline-block;
}

ul:hover li {
    background-image: url(./star1.png);
}

li:hover~li {
    background-image: url(./star0.png);
}