input[type="text"], textarea {
    width: -webkit-fill-available;
    resize: vertical;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

select {
    margin: 10px 0;
    border: none;
}

.disable-br {   
    display: none;
}

@media (max-width: 555px) {
    .disable-br {
        display: block;
    }

    select {
        width: -webkit-fill-available;
    }
}