body {
    margin: 0;
}

header, footer {
    height: 60px;
    background-color: lightskyblue;
    text-align: center;
}

main {
    height: 601px;
}

header p, footer p {
    margin: 0;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
}

h1 {
    margin-top: 0;
    padding-top: 18px;
    text-align: center;
}

ul {
    padding: 0 12px 0 30px;
    font-size: 19px;
}

img {
    float: left;
    height: 150px;
    margin: 0 25px;
}

.menu {
    float: left;
    width: 175px;
    height: inherit;
    background-color: khaki;
}

.menu p {
    padding-left: 15px;
}

.main-content {
    height: inherit;
    background-image: url(./field-hockey.png);
    background-size: 150px;
    background-position: center right;
    background-repeat: repeat-y;
}


.text {
    margin: 0 15px 0 200px;
}

@media (max-width:621px) {
    .main-content {
        background-image: none;
    }
}

@media (max-width: 665px) and (min-width: 621px) {
    main {
        height: 660px;
    }
}

@media (max-width: 620px) and (min-width: 594px) {
    main {
        height: 700px;
    }
}

@media (max-width: 594px) and (min-width: 583px) {
    main {
        height: 715px;
    }
}

@media (max-width: 583px) {
    main {
        height: fit-content;
    }
    ul {
        padding: 0 0 12px 0;
        text-align: center;
    }
    img {
        float: none;
        height: 220px;
    }
    .menu p {
        margin-top: 0;
        padding: 10px 0 0 0;
        text-align: center;
    }
    .menu {
        float: none;
        width: auto;
        height: auto;
    }
    .main-content {
        text-align: center;
        height: auto;
    }
    .text {
        margin: 10px 15px;
        text-align: justify;
    }
}

@media (max-width: 402px) {
    header {
        height: 80px;
    }
}

@media (max-width: 343.5px) {
    footer {
        height: 80px;
    }
}