@media (max-width: 1024px) {

    html {
        font-size: 14px;
        line-height: 16.44px;
    }

    h1 {
        font-size: 36px;
        line-height: 42.26px;
    }

    h2 {
        font-size: 24px;
        line-height: 28.18px;
    }

    h3 {
        font-size: 24px;
        line-height: 32.68px;
    }

    h4 {
        font-size: 18px;
        line-height: 24.51px;
    }

    .contact-us__form_button {
        width: 318px;
    }

    .contact-us__headline {
        padding: 46px 0;
    }

    .contact-us__paragraph {
        margin: 32px 0 72px;
    }

    .download-block {
        height: 358px;
        background-size: cover;
    }

    .download-block_button {
        padding: 18.8px 122.8px;
    }

    .download-block_headline {
        height: 120px;
    }

    .download-block_paragraph {
        margin: 32px 0;
    }

    .footer__list { 
        margin-bottom: 38px;
    }

    .footer__list_item {
        width: 45px;
        height: 45px;
    }

    .footer__list_item_img {
        width: 45px;
    }

    .header {
        max-height: 75px;
    }

    .hr-pink {
        width: 142px;
    }

    .hr-white {
        width: 142px;
    }

    .info {
        margin-bottom: 60px;
    }

    .info__bottom {
        height: auto;
    }

    .info__bottom_wrap {
        gap: 20px;
    }

    .info__bottom_wrap_item div {
        height: 147px;
    }

    .info__bottom_wrap_item div img {
        width: 147px;
    }

    .info__bottom_wrap_item h4 {
        padding: 28.75px 0;
    }

    .info__bottom_wrap_item p {
        min-height: 80px;
        margin-top: 9px;
        height: auto;
    }

    .info__top-block {
        margin-bottom: 32px;
    }

    .info__top-block_headline {
        padding: 46px 0;
    }

    .info__top-block_paragraph {
        margin-top: 32px;
    }

    .pricing__bottom {
        max-height: 452.26px;
    }

    .pricing__bottom_wrapper:hover {
        transform: translate(0, -17.74px);
    }

    .pricing__bottom_wrapper_bottom-block div {
        padding: 13.1px 0;
    }

    .pricing__bottom_wrapper_top-block_bottom-el {
        padding: 11.6px 0;
    }

    .pricing__bottom_wrapper_top-block_middle-el {
        padding: 21.2px 0;
    }

    .pricing__bottom_wrapper_top-block_top-el {
        padding: 10.3px 0;
    }
    
    .pricing__headline {
        padding: 46px 0;
    }

    .pricing__paragraph {
        margin: 32px 0 49.74px 0;
    }

    .reviews {
        margin-bottom: 57px;
    }

    .reviews__headline {
        padding: 45.9px 0;
    }

    .reviews__list {
        gap: 20px;
    }

    .reviews__list_item_bottom_block {
        margin-left: 21.6px;
    }

    .reviews__list_item_bottom_block_name {
        padding: 5.7px 0;
        margin-bottom: 9px;
    }

    .reviews__list_item_bottom_img {
        width: 63px;
        height: 63px;
    }

    .reviews__list_item_top::before {
        border-left: 12.9px solid transparent;
        border-right: 12.9px solid transparent;
    }

    .reviews__paragraph {
        margin: 32px 0;
    }

    .social-media {
        height: 105px;
    }

    .social-media__left-block {
        max-width: 402px;
        margin-right: 20px;
    }

    .social-media__left-block_headline {
        margin: 0;
        padding: 10.25px 0;
    }

    .social-media__left-block_paragraph {
        padding: 0;
        margin: 13px 0;
    }

    .social-media__links_list li {
        height: 64px;
    }

    .social-media__links_list li a img {
        width: 64px;
    }

    .tabs {
        max-width: 992px;
        margin-top: 50px;
        height: 425px;
    }
    
    .tabs__wrapper input:checked + label {
        width: 170.12px;
    }

    .tabs__wrapper input:checked + label + .tabs__wrapper_item {
        padding-left: 84.68px;
        height: 385px;
    }

    .tabs__wrapper label {
        width: 172.12px;
    }

    .tabs__wrapper_item_button {
        padding: 17px 72px;
    }

    .tabs__wrapper_item_headline {
        padding: 28.18px 0;
    }

    .tabs__wrapper_item_img {
        padding-left: 26.21px;
    }

    .tabs__wrapper_item_text {
        margin: 38px 0;
    }

    .tabs__wrapper_right {
        margin-left: 344.24px;
    }
    

    .tabs__wrapper_middle {
        margin-left: 172.12px;
    }

    .top {
        background-size: cover;
        height: 768px;
    }

    .top__block_left_button_link {
        padding: 10.8px 55.4px;
    }

    .top__block_left_logo {
        width: 183px;
        height: 75px;
    }

    .top__block_left_lower-row {
        margin: 31px 0 31.32px 0;
        max-width: 183.1px;
    }

    .top__block_left_up-row {
        margin: 37.61px 36.36px 41.49px 0;
        max-width: 454.36px;
        max-height: unset;
    }

    .top__form-block_form {
        width: 398px;
    }
}