img {
    position: absolute;
    width: 220px;
    margin-left: -110px;
    left: 50%;
}

div {
    height: 435px;
}

.hazard {
    margin-left: -220px;
}

.people {
    margin-left: 0;
}

.yin-yang {
    margin-top: 220px;
}

.no-smoking {
    width: 260px;
    margin: 90px 0 0 -130px;
}

.hazard:hover {
    z-index: 1;
}

.people:hover {
    z-index: 1;
}

.yin-yang:hover {
    z-index: 1;
}
